*{
	margin:0;
	padding:0;	
}

@font-face{
	font-family: 'Indiana Jonas';
	src: url("Indiana-Jonas-48p.otf");
}

canvas{
	margin: 0 auto;
	background:url("slike/labirint.svg");
}

#center{
	position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(171, 105, 67);
    backdrop-filter: blur(20px);
	background-repeat:no-repeat;
	max-width: 482px;
	max-height: 482px;
}

p{
    margin: 0 auto;
    margin-top: 1.8%;
    text-align: center;
    font-size: 100px;
    font-family: 'Indiana Jonas';
}


body{
	background-image: url("slike/ozzadje.jpg"); 
    background-size: cover;
	background-repeat:no-repeat;
	background-size:cover;
}

.button{
    font-family: "Indiana Jonas";
    position: fixed;
    color: aliceblue;
    background-color: rgb(171, 105, 67);
    font-size: 40px;
    bottom: 0;
    margin-bottom: 10px;
    left: 39%;
    border-radius: 10px;
    padding: 10px 10px;
    padding-bottom: 4px;
    transform: translateX(-50%);
}

.button2{
    font-family: "Indiana Jonas";
    color: aliceblue;
    background-color: rgb(171, 105, 67);
    position: fixed;
	margin-bottom: 10px;
    font-size: 40px;
    bottom: 0;
    left: 60%;
    border-radius: 10px;
    padding: 10px 10px;
    padding-bottom: 4px;
    transform: translateX(-50%);
}

.swal2-title {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0.8em 1em 0;
    color: inherit;
    font-size: 2.4em;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
    font-family: "Indiana Jonas";
}

.swal2-html-container {
    z-index: 1;
    justify-content: center;
    margin: 1em 1.6em 0.3em;
    padding: 0;
    overflow: auto;
    color: inherit;
    font-size: 1.7em;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    word-wrap: break-word;
    word-break: break-word;
    font-family: "Indiana Jonas";
}